* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-auto-rows: 100px 1fr 100px;
    background: linear-gradient(#632b2b, #956e6ed7 50%, #956e6ed7 60%, #422324);
}

header,
footer {
    height: 100%;
    color: #FFFFFF;
    padding: 0 20px;
}

header {
    height: 100px;
    display: grid;
    grid-template-columns: repeat(2, 50px) 100px 1fr;
    gap: 10px;
    color: #FFFFFF;
    padding-top: 41px;
    padding-left: 75px;
    justify-content: flex-start;
    z-index: 999;
}

header span {
    font-weight: 600;
}

main {
    display: grid;
    place-content: center;
}

.background-logo {
    position: absolute;
    width: 100%;
    max-height: 100%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* z-index: 1; */
    opacity: 70%;
}

.content-text {
    position: absolute;
    color: #ffffff;
    font-size: 2.5rem;
    width: 240px;
    transform: translateX(-100%);
    text-align: end;
    z-index: 998;
    left: 45.3%;
    top: 46.65%;
    z-index: 1000;
}

.content-image {
    height: 85vh;
    z-index: 999;
}

footer {
    height: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 75px;
    padding-right: 75px;
    color: #FFFFFF;
    font-weight: 100;
}

footer span {
    display: inherit;
    place-content: center;
}

footer img {
    margin-top: 26px;
    margin-left: 92%;
}

@media (max-width: 768px) {
    header {
        padding-left: 25px;
    }
    .content-text {
        transform: translateX(0%);
        top: 80px;
        font-size: 1rem;
        width: 100px;
        text-align: center;
    }
    .content-image {
        height: 70vh;
    }
    footer {
        padding: 0px 25px;
    }
}